
:root {
  --ingenuity-red: #ff0033;
    --pa-steel: #85a2c7d4;
    --white: white;
}

#questions {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    justify-self: center;
}

.slider-and-sliderlabel{
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center; 
    gap: 20px; 
    padding: 10px;
}

.question:after {
    content:"\a";
    white-space: pre;
}

.question-label {
    padding: 10px;
}

.question-label:after {
    content:"\a";
    white-space: pre;
}

.sliderlabel {
    width: 200px;
    font-size: small;
}


.slider {

    -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
    grid-column: 2; 
    width: 100%; 


  height: 20px;
  background: var(--pa-steel) 
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    border-radius: 5px;
  height: 30px;
  background: var(--ingenuity-red)

}


#submit-button {
    margin: 20px;
    padding: 20px;
    width: 250px;
    background-color: var(--ingenuity-red);
    border-radius: 10px;
    color: var(--white);
    font-size: large;
}