:root {
    --ingenuity-red: #ff0033;
    --pa-steel: #85a2c7d4;
    --white: white;
}

#questions {
    text-align: center;
    justify-self: center;

}



.slider-and-sliderlabel {

    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 10px;

}

.question {
    height: 25vh;
    width: 80vw;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0px;
    margin: 0px;

}

.question-sect {
    width: 80vw;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr;
    padding: 0px;
    padding-top: 10vh;
    padding-bottom: 5vh;
    margin: 0px;

}

.end-of-form-q {
    width: 80vw;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr;
    padding: 0px;
    padding-bottom: 5vh;
    margin: 0px;
    height: 10vh;
}

form {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
.question:after {
    content: "\a";
    white-space: pre;
}

.question-label {
    padding: 2vw;
}

.question-label:after {
    content: "\a";
    white-space: pre;
}

.sliderlabel {
    width: 20vw;
    font-size: smaller;
    max-height: 30vh;
}


.slider {
    flex-grow: 1;
    margin: 0 10px;
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 30vw;

    height: 20px;
    background: var(--pa-steel)
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    border-radius: 5px;
    height: 30px;
    background: var(--ingenuity-red)
}


#submit-button {
    margin: 20px;
    padding: 20px;
    width: 250px;
    background-color: var(--ingenuity-red);
    border-radius: 10px;
    color: var(--white);
    font-size: large;
}